.editfolder {
 &__checkbox {
  font-size: 1.438rem !important;
  width: 6rem !important;
  padding: 1rem !important;
  margin: 0rem 2rem 1rem 0rem !important;

  &-active, &:active {
   background-color: #dd4b39 !important;
   border-color: #dd4b39 !important;
  }
 }
}
