.doctorbox {
 background-color: white !important;
 padding: 0.594rem 0.9rem 0.3rem 0.9rem !important;
 width: fit-content !important;
 border-radius: 1rem;
 border: 2px white solid;
 margin-right: 0.65rem;

 &:hover,
 &:active {
  border: 2px #5b63f6 solid;
 }

 &-active {
  border: 2px #5b63f6 solid;
 }

 & img {
  border-radius: 0.8rem;
  width: 9rem;
  margin-bottom: 1rem;
 }

 &-title {
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 0.8rem;
 }

 &-speciality {
  font-weight: 600;
  font-size: 1rem;
  color: #828282;
  line-height: 0.8rem;
 }
}
