@charset "UTF-8";
*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
 box-sizing: border-box;
 font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
 html {
  font-size: 50%;
 }
}

body {
 font-family: 'Montserrat' !important;
 color: #4f4f4f;
 font-weight: 300;
 line-height: 1.6;
 min-height: 100vh;
}

.auth__side_1 {
 padding: 3rem 5rem !important;
 height: 100vh;
 text-align: left;
}
@media only screen and (max-width: 75em) {
 .auth__side_1 {
  padding: 2rem 4rem !important;
 }
}

.auth__side_2 {
 padding: 5rem !important;
 background-color: #f9f6fc;
 display: flex;
 justify-content: center;
 align-items: center;
}
@media only screen and (max-width: 75em) {
 .auth__side_2 {
  padding: 3rem !important;
 }
}

/* Sign Up */
.signup__side_1 {
 padding: 3rem 5rem !important;
 height: 00vh;
 text-align: left;
}

@media only screen and (max-width: 75em) {
 .signup__side_1 {
  padding: 2rem 4rem !important;
 }
}

.signup__side_2 {
 padding: 5rem !important;
 background-color: #f9f6fc;
 display: flex;
 justify-content: center;
 align-items: center;
}

@media only screen and (max-width: 75em) {
 .signup__side_2 {
  padding: 3rem !important;
 }
}

.row {
 margin-left: 0 !important;
 margin-right: 0 !important;
}

.content {
 display: flex;
 height: fit-content;
 min-height: 100vh;
}
@media only screen and (max-width: 56.25em) {
 .content {
  flex-direction: column;
 }
}

.sidebar {
 flex: 0 0 8%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-color: #5b63f6;
 align-items: center;
 padding-right: 2rem;
 height: 100vh;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
}

.exambar {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: -2rem; }

.main-view {
 background-color: #f1f1fe;
 flex: 1;
 border-radius: 2rem 0 0 2rem;
 margin-left: -2rem;
 z-index: 3;
 text-align: left;
 padding: 0 4rem;
 position: relative;
}

.main-view {
  background-color: #f1f1fe;
  flex: 1;
  margin-left: -2rem;
  z-index: 3;
  text-align: left;
  position: relative; }

.exam-view {
  background-color: #f1f1fe;
  flex: 1;
  text-align: left;
  padding: 0 4rem;
  position: relative; }

.signignup__side_1 {
 padding: 3rem 6rem !important;
 height: 100vh;
 text-align: left;
}
@media only screen and (max-width: 75em) {
 .signignup__side_1 {
  padding: 2rem 4rem !important;
 }
}

.signup__side_2 {
 padding: 5rem !important;
 background-color: #f9f6fc;
 display: flex;
 justify-content: center;
 align-items: center;
}
@media only screen and (max-width: 75em) {
 .signup__side_2 {
  padding: 3rem !important;
 }
}

/* Header */
.header {
 font-size: 1.4rem;
 height: 7rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 3rem;
}
@media only screen and (max-width: 31.25em) {
 .header {
  flex-wrap: wrap;
  align-content: space-around;
  height: 11rem;
 }
}

.auth__header {
 font-weight: 600;
 font-style: italic;
 font-size: 3.6rem;
 text-transform: uppercase;
 margin-bottom: 6rem;
}
@media only screen and (max-width: 75em) {
 .auth__header {
  font-size: 3rem;
  margin-bottom: 4rem;
 }
}

.auth__form-heading {
 margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
 .auth__form-heading {
  margin-bottom: 2.5rem;
 }
}
.auth__form-heading--title {
 font-size: 3rem;
 font-weight: 700;
 margin-bottom: 1rem;
}
@media only screen and (max-width: 75em) {
 .auth__form-heading--title {
  font-size: 2.5rem;
 }
}
.auth__form-heading--text {
 font-size: 1.5rem;
 font-weight: 400;
 color: #b0a5a5;
}

.auth__form-group {
 margin-bottom: 2rem;
}
@media only screen and (max-width: 75em) {
 .auth__form-group {
  margin-bottom: 1.5rem;
 }
}
.auth__form-group--label {
 font-size: 1.5rem;
 font-weight: 600;
 color: #4f4f4f;
 margin-bottom: 1rem;
}
.auth__form-group--input {
 font-family: inherit;
 font-size: 1.5rem !important;
 font-weight: 500 !important;
 color: inherit;
 padding: 0.7rem 2rem !important;
 border-radius: 0.5rem !important;
 width: 100%;
 height: 5rem;
}
.auth__form-group--repass {
 display: flex;
 justify-content: space-between;
 font-size: 1.5rem;
 margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
 .auth__form-group--repass {
  margin-bottom: 2.5rem;
 }
}
.auth__form-group--action {
 display: flex;
 justify-content: center;
 font-size: 1.5rem;
 margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
 .auth__form-group--action {
  margin-bottom: 2.5rem;
 }
}
.auth__form-group--action-btn {
 width: 100%;
 padding: 1rem 7rem;
 background-color: #5b63f6 !important;
 font-size: 1.5rem;
 color: white;
 border: none !important;
 border-radius: 0.5rem;
 cursor: pointer;
}
.auth__form-group--action-btn:hover {
 transform: translateY(-6px);
 transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.auth__form-group--action-btn:active {
 transform: translateY(-2px);
 transition: transform 34ms;
}
.auth__form-group--action-btn::before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(to left, #080f91 0%, #252ff4 8%, #252ff4 92%, #080f91 100%);
}

.auth__form-footer--text {
 font-size: 1.5rem;
 font-weight: 500;
 text-align: center;
 margin-bottom: 1rem;
}

.auth__form-footer .auth__form-group--action-btn {
 background-color: #dd4b39 !important;
}

.auth__heading-title {
 font-size: 5rem;
 font-weight: 700;
 color: #5b63f6;
}
@media only screen and (max-width: 75em) {
 .auth__heading-title {
  font-size: 4rem;
 }
}

.auth__heading-subtitle {
 font-size: 1.5rem;
 font-weight: 400;
}

.auth__heading-illustration {
 width: 65rem;
}
@media only screen and (max-width: 75em) {
 .auth__heading-illustration {
  width: 60rem;
 }
}

.sidebar__logo {
 padding: 1rem 0;
}
.sidebar__logo-icon {
 width: 3.5rem;
}

.side-nav {
 font-size: 1.4rem;
 list-style: none;
 margin-top: 3.5rem;
 padding: 0 !important;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
@media only screen and (max-width: 56.25em) {
 .side-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
 }
}
.side-nav__item {
 position: relative;
}
.side-nav__item:not(:last-child) {
 margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
 .side-nav__item:not(:last-child) {
  margin: 0;
 }
}
@media only screen and (max-width: 56.25em) {
 .side-nav__item {
  flex: 1;
 }
}
.side-nav__item::before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0.3rem;
 background-color: #5b63f6;
 border-radius: 1rem;
}
.side-nav__item:hover::before,
.side-nav__item:active::before {
 background-color: #424ef5;
 width: 100%;
}
.side-nav__link--btn {
 border: none;
 background-color: transparent;
 padding: 1rem 0;
}
.side-nav__link:link,
.side-nav__link:visited {
 color: #424ef5;
 text-decoration: none;
 text-transform: uppercase;
 display: block;
 padding: 1.5rem 1.5rem;
 position: relative;
 z-index: 10;
 display: flex;
 align-items: center;
}
@media only screen and (max-width: 56.25em) {
 .side-nav__link:link,
 .side-nav__link:visited {
  justify-content: center;
  padding: 2rem;
 }
}
@media only screen and (max-width: 37.5em) {
 .side-nav__link:link,
 .side-nav__link:visited {
  flex-direction: column;
  padding: 1.5rem 0.5rem;
 }
}
.side-nav__icon {
 fill: currentColor;
}
@media only screen and (max-width: 37.5em) {
 .side-nav__icon {
  margin-right: 0;
  margin-bottom: 0.7rem;
  width: 1.5rem;
  height: 1.5rem;
 }
}

.signup__heading {
 width: 60rem;
 margin-top: 4rem;
 margin-bottom: 5rem;
}
.signup__heading-title {
 font-size: 5rem;
 font-weight: 700;
 color: #5b63f6;
}
@media only screen and (max-width: 75em) {
 .signup__heading-title {
  font-size: 4rem;
 }
}
.signup__heading-subtitle {
 font-size: 1.5rem;
 font-weight: 400;
}
.signup__heading-illustration {
 margin-top: 2rem;
 width: 45rem;
}
@media only screen and (max-width: 75em) {
 .signup__heading-illustration {
  width: 40rem;
 }
}

.signup__header {
  font-weight: 600;
  font-style: italic;
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 75em) {
    .signup__header {
      font-size: 3rem;
      margin-bottom: 4rem; } }

.signup__form-heading {
  margin-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    .signup__form-heading {
      margin-bottom: 2.5rem; } }
  .signup__form-heading--title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 75em) {
      .signup__form-heading--title {
        font-size: 2.5rem; } }
  .signup__form-heading--text {
    font-size: 1.5rem;
    font-weight: 400;
    color: #b0a5a5; }

.signup__form-group--repass {
  text-align: right;
  font-size: 1.5rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    .signup__form-group--repass {
      margin-bottom: 2.5rem; } }

.signup__form-group--action {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    .signup__form-group--action {
      margin-bottom: 2.5rem; } }
  .signup__form-group--action-btn {
    width: 100%;
    padding: 1rem 7rem;
    background-color: #5b63f6 !important;
    font-size: 1.5rem;
    color: white;
    border: none !important;
    border-radius: 0.5rem;
    cursor: pointer; }
    .signup__form-group--action-btn:hover {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5); }
    .signup__form-group--action-btn:active {
      transform: translateY(-2px);
      transition: transform 34ms; }
    .signup__form-group--action-btn::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: linear-gradient(to left, #080f91 0%, #252ff4 8%, #252ff4 92%, #080f91 100%); }

.signup__form-footer--label {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem; }

.signup__form-footer {
  text-align: center; }

.maintable-icon-sort {
 color: #5b63f6;
}

.maintable {
 margin-top: 30px;
 border-collapse: separate;
 border-spacing: 0 12px;
}

.maintable-header-title {
 font-size: 1.3rem;
 font-style: normal;
 font-weight: 600;
 text-align: left;
}

.maintable-header-item {
 font-size: 13px;
 font-style: normal;
 font-weight: 600;
 text-align: center;
 text-align: left;
}

.maintable-row {
 background-color: white;
 border-radius: 14px;
}

.maintable-header-img {
 width: 30px;
 border-radius: 50%;
}

.raduisadd {
 border-top-left-radius: 14px;
 border-bottom-left-radius: 14px;
}

.raduisadd1 {
 border-top-right-radius: 14px;
 border-bottom-right-radius: 14px;
}

.ovrrow {
 margin-top: 6% !important;
}

.ovrbx {
 border-radius: 10px;
 width: 97%;
 position: relative;
 background-color: white;
 text-align: center !important;
 height: 100px;
 display: block;
}

.ovrtitle {
 position: absolute;
 left: 3%;
 top: 10.34%;
 bottom: 63.79%;
 font-style: normal;
 font-size: 18px;
 /* or 30px */
 color: #000000;
}

.ovrnmb {
 position: relative;
 left: -25%;
 bottom: -40%;
 font-style: normal;
 font-size: 3.2rem;
 /* or 57px */
 color: #000000;
}

.users-icon {
 position: absolute;
 right: 8%;
 bottom: 8%;
 font-size: 3rem;
 color: #2a2f64;
}

.searchbar {
 height: 3.8rem !important;
 font-size: medium !important;
 border-radius: 1.2rem !important;
 width: 80% !important;
 background-color: #f7f7fe !important;
}

.searchbar::placeholder {
 font-size: medium;
}

.search-icon {
 font-size: large;
 position: relative;
 float: right;
 margin-right: 22%;
 bottom: -2.7rem;
 color: #5b63f6;
}

.search {
 flex: 0 0 40%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: -3.25rem;
}
@media only screen and (max-width: 31.25em) {
 .search {
  order: 1;
  flex: 0 0 100%;
  background-color: #f1f1fe;
 }
}
.search__input {
 font-size: 1.5rem !important;
 font-weight: 500 !important;
 padding: 0.7rem 2rem !important;
 border-radius: 0.7rem !important;
 height: 4rem;
 color: inherit;
 background-color: #f7f7fe;
 border: none;
 width: 90%;
 margin-right: -3.25rem;
 border-bottom: 1px solid #f9f6fc;
}
.search__input::-webkit-input-placeholder {
 font-weight: 100;
}
.search__input:focus + .search__button {
 background-color: #f9f6fc;
}
.search__button {
 border: none;
 background-color: transparent;
 color: #5b63f6;
}
.search__button:focus {
 outline: none;
}
.search__button:active {
 transform: translateY(2px);
}
.search__icon {
 height: 2rem;
 width: 2rem;
 fill: #828282;
}

.user-nav {
 align-self: stretch;
 display: flex;
 align-items: center;
}
.user-nav > * {
 padding: 0 2rem;
 cursor: pointer;
 height: 100%;
 display: flex;
 align-items: center;
 column-gap: 1rem;
}
.user-nav > *:hover {
 background-color: #f1f1fe;
}
.user-nav__user {
 padding-right: 0;
}
.user-nav__user-info {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 font-weight: 500;
}
.user-nav__user-info--name  {
 font-size: 1.2rem;
 color: #333333;
}
.user-nav__user-info--link {
 font-size: 1rem;
 text-decoration: underline;
 color: #bdbdbd;
}
.user-nav__icon-box {
 position: relative;
 font-size: 2rem;
 color: #5b63f6;
}
.user-nav__icon {
 height: 2.25rem;
 width: 2.25rem;
 fill: #4f4f4f;
}
.user-nav__notification {
 height: 0.7rem;
 width: 0.7rem;
 border-radius: 50%;
 background-color: #eb5757;
 color: #eb5757;
 position: absolute;
 top: 2.5rem;
 right: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
}
.user-nav__user-photo {
 height: 3.75rem;
 border-radius: 50%;
 margin-right: 1rem;
}

.main-heading {
 font-size: 3rem;
 font-weight: 500;
 margin-bottom: 1.5rem;
}

.folder-container {
 display: grid;
 grid-template-columns: 0.3fr 0.7fr;
 grid-template-rows: minmax(20rem, 0.9fr) minmax(20rem, 0.8fr) minmax(20rem, 1fr);
 gap: 1.5rem;
 margin-bottom: 2rem;
}

.folder__item {
 background-color: #ffffff;
 border-radius: 1rem;
 padding: 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.folder__item:nth-child(2) {
 display: grid;
 grid-template-columns: 1fr 1fr 0.8fr;
 grid-template-rows: repeat(3, minmax(2rem, 1fr));
 padding: 2.5rem 5rem 1rem;
}
.folder__item:nth-child(4) > .folder__item-title {
 margin-bottom: 1rem;
}
.folder__item:nth-child(n + 3) {
 padding: 3rem;
 justify-content: center;
 align-items: flex-start;
}
.folder__item:nth-child(3) {
 grid-row-start: 2;
 grid-row-end: 4;
 justify-content: flex-start;
}
.folder__item-img {
 width: 13rem;
 margin-bottom: 2rem;
}
.folder__item-profile {
 margin-bottom: 2rem;
 display: flex;
 flex-direction: column;
 text-align: center;
}
.folder__item-profile--name {
 font-size: 1.7rem;
 font-weight: 500;
}
.folder__item-profile--email {
 font-size: 1.3rem;
 font-weight: 500;
 color: #bdbdbd;
}
.folder__item-btn {
 width: 20rem;
}
.folder__item-content {
 display: flex;
 flex-direction: column;
 border-bottom: 1px dashed #e0e0e0;
 padding-bottom: 2rem;
 /* last row, doesn't matter how many cells */
}
.folder__item-content:nth-last-child(-n + 3):nth-child(3n + 1),
.folder__item-content:nth-last-child(-n + 3):nth-child(3n + 1) ~ .folder__item-content {
 border-bottom: none;
}
.folder__item-content--title {
 font-size: 1.3rem;
 font-weight: 500;
 color: #828282;
 margin: 0.5rem 0;
}
.folder__item-content--value {
 font-size: 1.5rem;
 font-weight: 500;
 color: #333333;
}
.folder__item-title {
 font-size: 2.2rem;
 margin-bottom: 3rem;
}
.folder__item-info {
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
}
.folder__item-info:not(:last-child) {
 margin-bottom: 2rem;
}
.folder__item-info--title {
 font-size: 1.5rem;
 font-weight: 500;
}
.folder__item-info--value {
 font-size: 1.5rem;
 font-weight: 500;
 color: #828282;
}
.folder__item-anteced {
 display: flex;
 align-items: center;
 cursor: pointer;
 background-color: inherit;
 border: none;
}
.folder__item-anteced:active,
.folder__item-anteced:hover {
 border: 0px transparent solid;
 background-color: rgba(91, 99, 246, 0.1);
 border-radius: 0.5rem;
}
.folder__item-anteced--container {
 display: grid;
 grid-template-columns: 1fr 0.8fr;
 grid-template-rows: repeat(2, minmax(8rem, auto));
 width: 100%;
}
.folder__item-anteced--icon {
 font-size: 2rem;
 height: 5rem;
 width: 5rem;
 background-color: #f2f2f2;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 0.5rem;
 color: #5b63f6;
}
.folder__item-anteced:nth-child(2) .folder__item-anteced--icon {
 color: #f1923e;
}
.folder__item-anteced:nth-child(4) .folder__item-anteced--icon {
 color: #dd4b39;
}
.folder__item-anteced--content {
 display: flex;
 flex-direction: column;
 margin-left: 1rem;
 text-align: initial;
}
.folder__item-anteced--title {
 font-size: 1.5rem;
 font-weight: 500;
}
.folder__item-anteced--date {
 color: #bdbdbd;
 font-size: 1.2rem;
 font-weight: 500;
}
.folder__item-anteced--consultmodal-header {
 display: flex;
 align-items: center;
}
.folder__item-anteced--consultmodal-icon {
 font-size: 2rem;
 height: 5rem;
 width: 5rem;
 background-color: #f2f2f2;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 0.5rem;
 color: #5b63f6;
}
.folder__item-anteced:nth-child(2) .folder__item-anteced--consultmodal-icon {
 color: #f1923e;
}
.folder__item-anteced:nth-child(4) .folder__item-anteced--consultmodal-icon {
 color: #dd4b39;
}
.folder__item-exam--btn {
 width: 100%;
 height: 6rem;
 font-size: 1.7rem;
 font-weight: 500;
 border: 1.5px dashed #e0e0e0;
 border-radius: 1rem;
 color: #5b63f6;
 background-color: transparent;
}
.folder__item-exam--table {
 width: 100%;
}
.folder__item-exam--table table th {
 color: #828282;
 font-size: 1.3rem;
 font-weight: 500;
}
.folder__item-exam--table table tr {
 font-size: 1.5rem;
 font-weight: 500;
 height: 5rem;
}
.folder__item-exam--table table tr:not(:last-child) {
 border-bottom: 1px dashed #e0e0e0;
}
.folder__item-exam--table table tr td {
 vertical-align: middle;
}
.folder__item-exam--table table tr td:nth-child(n + 2) {
 color: #828282;
}

.editfolder-form {
 text-align: left;
 width: 100%;
}

.editfolder-heading--title {
 font-size: 1.875rem;
 font-weight: 600;
}

.editfolder__collapse {
 background: transparent;
}
.editfolder__collapse-card {
 background-color: transparent;
 border-radius: 10rem;
 border: none;
}
.editfolder__collapse-card--contentsubtitle {
 padding: 2rem 0rem 0rem 0rem;
 font-size: 2rem;
 font-weight: 600;
 text-align: left;
}
.editfolder__collapse-card--col {
 padding: 2rem;
}
.editfolder__collapse-card--row {
 margin-bottom: 1rem;
}
.editfolder__collapse-card--row-spec {
 background-color: red;
 align-items: flex-start;
}
.editfolder__collapse-card--row-spec p {
 background-color: yellow;
 font-size: 1.625rem;
 font-weight: 500;
 text-align: left;
 width: 16.3%;
}

.editfolder__tabacsection-col {
 text-align: left !important;
}

.editfolder__tabacsection-row {
 font-size: 1.625rem;
 font-weight: 500;
 margin-bottom: 3rem;
 align-items: center;
}

.editfolder__tabacsection-box {
 font-size: 1.438rem !important;
 width: 12rem !important;
 padding: 1rem !important;
 margin-right: 4rem;
 background-color: #bdbdbd !important;
 border-color: #bdbdbd !important;
}
.editfolder__tabacsection-box--active,
.editfolder__tabacsection-box:active {
 background-color: #0d6efd !important;
 border-color: #0d6efd !important;
}

.editfolder__tabacsection-input {
 font-size: 1.438rem !important;
 width: 15rem !important;
 padding: 1rem !important;
}

.editfolder__medicalsection-card {
 border-color: black !important;
 border-radius: 0.5rem !important;
 border-width: 0.2rem !important;
 margin-bottom: 3rem;
}

.editfolder__medicalsection-col {
 padding: 2rem !important;
 text-align: left;
}

.editfolder__medicalsection-col p {
 font-size: 1.31rem;
 font-weight: 500;
 margin-bottom: 1.188rem;
}

.editfolder__medicalsection-box {
 width: fit-content !important;
 font-size: 1.5rem !important;
 font-weight: 500 !important;
 border-radius: 5.62rem !important;
 padding: 0.813rem 2.5rem 0.813rem 2.5rem !important;
 margin-right: 1.4rem;
 margin-bottom: 1.4rem;
}
.editfolder__medicalsection-box:hover,
.editfolder__medicalsection-box:active {
 background-color: #dd4b39 !important;
 border-color: #dd4b39 !important;
}
.editfolder__medicalsection-box:visited {
 background-color: #0d6efd !important;
}
.editfolder__medicalsection-box--close {
 visibility: hidden;
 transition: all 0.2s ease-in-out;
}
.editfolder__medicalsection-box:hover .editfolder__medicalsection-box--close {
 visibility: visible;
 margin-left: 2rem;
}

.editfolder__medicalsection-button {
 width: fit-content !important;
 font-size: 1.5rem;
 font-weight: 500;
 border-color: black;
 background-color: white;
 border-radius: 5.62rem;
 padding: 0.813rem 2.5rem 0.813rem 2.5rem !important;
 margin-bottom: 1.4rem;
}

.clinity-alert {
 text-align: left;
 font-size: 1.5rem;
 padding: 1.5rem !important;
 margin-bottom: 2rem !important;
}

.clinity__modal {
 max-width: 60rem !important;
}
.clinity__modal > .modal-content {
 border-radius: 1.5rem;
}
.clinity__modal-header {
 font-size: 2rem;
 font-weight: 500;
 padding: 1.5rem !important;
}
.clinity__modal-body {
 font-size: 1.5rem !important;
 border-radius: 1.5rem;
}
.clinity__modal-footer {
 padding: 1.5rem;
}
.clinity__modal-btn {
 font-size: 1.5rem !important;
 padding: 0.75rem 1.5rem !important;
}

.modal .newappointment__select {
 top: 20%;
}

.newappointment__select-header {
 margin-bottom: 1rem;
 font-weight: 500;
}

.newappointment__select-body {
 background-color: #f1f1fe;
 padding: 2rem !important;
 border-color: red;
}

.newappointment__select-main {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 2rem;
}

.newappointment__select-box {
 display: flex;
 gap: 1rem;
 height: 15rem;
 width: 16rem;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 2.5rem;
 background-color: rgba(91, 99, 246, 0.1);
 padding: 2rem;
 cursor: pointer;
 border: none;
 border-radius: 1rem;
 font-weight: 500;
}
.newappointment__select-box:last-child .newappointment__select-icon {
 height: 6rem;
}
.newappointment__select-box:hover,
.newappointment__select-box:active {
 border: 2px #5b63f6 solid;
}

.newappointment__select-icon {
 font-size: 6rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.newappointment__resultmodal > .modal-content {
 border-radius: 1.5rem;
}

.newappointment__resultmodal-body {
 background-color: #f1f1fe;
 padding: 2rem !important;
 border-radius: 1.5rem;
}

.newappointment__resultmodal-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 2rem;
}
.newappointment__resultmodal-header p {
 font-size: 2rem;
 font-weight: 600;
 border: none !important;
 margin-bottom: 0;
}
.newappointment__resultmodal-header svg {
 font-size: 1.5rem;
 cursor: pointer;
}

.newappointment__resultmodal-formgroup {
 margin-bottom: 2rem;
}
.newappointment__resultmodal-formgroup--label {
 font-size: 1rem;
 line-height: 1.279rem;
 text-transform: uppercase;
 font-weight: 700;
 color: #4f4f4f;
 margin-bottom: 1rem;
 letter-spacing: 0.12rem;
}

.user_confirmation {
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #f9f6fc;
}
.user_confirmation-illustration1 {
 width: 55rem !important;
 margin-bottom: 3rem;
}
.user_confirmation-illustration2 {
 width: 35rem !important;
 margin-bottom: 3rem;
}
.user_confirmation-title {
 font-size: 4rem;
 font-weight: 700;
 color: #5b63f6;
}
.user_confirmation-text {
 font-size: 1.5rem;
 font-weight: 600;
 color: #000;
}
.user_confirmation-button {
 margin-top: 2rem;
 width: 60%;
}

.clinity-calendar {
 margin: 4rem 0;
}
.clinity-calendar .fc .fc-timegrid-col.fc-day-today {
 background-color: rgba(91, 99, 246, 0.1);
}
.clinity-calendar .fc .fc-v-event {
 border: none;
 border-left: 0.4rem #0ea5e9 solid;
}
.clinity-calendar .fc .fc-timegrid-event,
.clinity-calendar .fc .fc-timegrid-more-link {
 border-radius: 0.3rem 0 0 0.3rem;
}
.clinity-calendar .fc .fc-timegrid-event .fc-event-main {
 padding: 0.7rem;
}
.clinity-calendar .fc .fc-timegrid-event .fc-event-main .fc-event-time {
 font-size: 1rem;
 font-weight: 500;
}
.clinity-calendar .fc .fc-timegrid-event .fc-event-main .fc-event-title {
 font-size: 1.2rem;
 font-weight: 600;
}
.clinity-calendar .fc .fc-timegrid-slot {
 height: 5rem;
}
.clinity-calendar .fc .fc-view-harness {
 background-color: #f7f7fe;
}
.clinity-calendar .fc .fc-button-primary {
 background-color: #5b63f6;
 font-size: 1.3rem;
}
.clinity-calendar .fc .fc-button-primary:disabled {
 background-attachment: #bdbdbd;
}
.clinity-calendar .fc .fc-button-primary:not(:disabled):hover {
 background-color: #424ef5;
}
.clinity-calendar .fc .fc-button-primary:focus {
 box-shadow: 0 0 0 0.2rem rgba(66, 78, 245, 0.5) !important;
}
.clinity-calendar .fc .fc-button-primary:not(:disabled):active,
.clinity-calendar .fc .fc-button-primary:not(:disabled):active .fc-button-active {
 background-color: #424ef5 !important;
 color: #f7f7fe !important;
}
.clinity-calendar .fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) > .fc-button-primary {
 border: hidden;
}
.clinity-calendar
 .fc
 .fc-header-toolbar
 .fc-toolbar-chunk:nth-child(1)
 .fc-button-group
 .fc-prev-button {
 background-color: #f7f7fe;
 border-radius: 0.5rem 0 0 0.5rem;
 color: #18181b;
 margin-right: 0.3rem;
}
.clinity-calendar
 .fc
 .fc-header-toolbar
 .fc-toolbar-chunk:nth-child(1)
 .fc-button-group
 .fc-next-button {
 background-color: #f7f7fe;
 border-radius: 0 0.5rem 0.5rem 0;
 color: #18181b;
}
.clinity-calendar .fc .fc-toolbar-chunk:nth-child(3) .fc-button-primary {
 border: hidden;
}
.clinity-calendar .fc a.fc-col-header-cell-cushion {
 color: #333333;
 font-size: 1.3rem;
 text-decoration: none;
}
.clinity-calendar .fc .fc-timegrid-axis-cushion,
.clinity-calendar .fc .fc-timegrid-slot-label-cushion {
 font-size: 1.2rem;
 font-weight: 500;
 color: #71717a;
}

.clinity-modal {
 background-color: orangered;
 width: 40rem;
 height: 35rem;
 position: absolute;
 right: 4rem;
 top: 22rem;
 z-index: 2;
}

.clinity_toast {
 width: fit-content !important;
}
.clinity_toast-container {
 position: fixed;
 top: 89vh;
 background-color: red;
 z-index: 10;
}
.clinity_toast-header {
 font-size: 1.3rem;
}
.clinity_toast-body {
 font-size: 1.3rem;
}

.clinity__table {
 margin-top: 2rem;
}
.clinity__table table {
 border-collapse: separate;
 border-spacing: 0 1.3rem;
}
.clinity__table table.table th {
 color: #4f4f4f;
 font-size: 1.5rem;
 font-weight: 500;
 vertical-align: middle;
}
.clinity__table-header--icon {
 color: #5b63f6;
}
.clinity__table-header--setting {
 background-color: #ffffff;
 padding: 0.8rem 1rem;
 font-size: 1.5rem;
 border-radius: 0.7rem;
 cursor: pointer;
}
.clinity__table-avatar {
 vertical-align: middle;
 width: 3rem;
 height: 3rem;
 border-radius: 0.5rem;
 object-fit: cover;
 object-position: 50% 50%;
 margin: 0 1rem;
}
.clinity__table-cell--more {
 color: rgba(91, 99, 246, 0.4);
}
.clinity__table .table-hover > tbody > tr {
 background-color: #ffffff;
}
.clinity__table .table-hover > tbody > tr:not(:last-child) {
 margin-bottom: 1rem;
}
.clinity__table .table-hover > tbody > tr:hover {
 background-color: #5b63f6;
 color: #ffffff;
}
.clinity__table .table-hover > tbody > tr:hover .clinity__table-cell--more {
 color: #ffffff;
 cursor: pointer;
}
.clinity__table tr td:first-child {
 border-top-left-radius: 1rem;
 border-bottom-left-radius: 1rem;
}
.clinity__table tr td:last-child {
 border-top-right-radius: 1rem;
 border-bottom-right-radius: 1rem;
}
.clinity__table table tr {
 font-size: 1.5rem;
 font-weight: 500;
 height: 5.5rem;
 border-radius: 0.5rem;
}
.clinity__table table tr td {
 vertical-align: middle;
}

.overview {
 margin-bottom: 6rem;
}
.overview__cards-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.users-list__header {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.users-list__button.pushable-primary {
 width: 25rem;
}

.cilinity-card {
 width: 25rem;
 background-color: #ffffff;
 border-radius: 1rem !important;
 border: none;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2rem;
}
.cilinity-card__container {
 width: 90%;
}
.cilinity-card__header {
 font-weight: 500;
 font-size: 1.5rem;
 color: #000000;
 margin-bottom: 2rem;
}
.cilinity-card__body {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.cilinity-card__infos {
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.cilinity-card__infos h2 {
 font-weight: 600;
 font-size: 3rem;
 line-height: 65%;
 letter-spacing: 0.02em;
 color: #000000;
}
.cilinity-card__infos span {
 font-size: 1.3rem;
 font-weight: 500;
}
.cilinity-card__infos--up {
 color: #5b63f6;
 font-size: 1.3rem;
 font-weight: 500;
}
.cilinity-card__infos--down {
 color: red !important;
 font-size: 1.3rem;
 font-weight: 500;
}
.cilinity-card__infos--icon {
 font-size: 4rem;
}

.clinity__modal-header {
 padding: 0 !important;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 margin-bottom: 2rem;
}
.clinity__modal-header--title {
 font-size: 2.3rem;
}

.clinity__modal-footer {
 padding: 0;
}

.anteced__item {
 display: flex;
 flex-direction: row;
 align-items: center;
 background-color: white;
 border-radius: 1rem;
 padding: 1.5rem;
 margin-bottom: 1.5rem;
}
.anteced__item:last-child {
 margin-bottom: 3rem;
}
.anteced__item:active,
.anteced__item:hover {
 background-color: rgba(91, 99, 246, 0.2);
}
.anteced__item-icon {
 padding: 1rem;
 font-size: 2rem;
 color: white;
 background-color: #5b63f6;
 border-radius: 0.5rem;
 height: 4rem;
 width: 4rem;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 1.5rem;
}
.anteced__item-content {
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 width: 100%;
}
.anteced__item-content > div {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.anteced__item-title {
 font-size: 1.5rem;
 font-weight: 500;
}
.anteced__item-subtitle {
 font-size: 1rem;
 color: #828282;
}
.anteced__item-date {
 font-size: 1rem;
 font-style: italic;
 color: #828282;
}

.anteced__detail-modal .modal-body {
 padding: 3rem !important;
}

.anteced__detail-modal-body {
 display: grid;
 grid-template-columns: 0.1fr 1fr;
 padding: 0 2rem;
}

.anteced__detail-header {
 display: flex;
 padding: 0 2rem;
 margin-bottom: 2rem;
}

.anteced__detail-icon {
 padding: 1rem;
 font-size: 2.3rem;
 color: #5b63f6;
 background-color: white;
 border-radius: 0.5rem;
 height: 5rem;
 width: 5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 2rem;
}

.anteced__detail-content {
 display: flex;
 flex-direction: column;
}

.anteced__detail-subtitle {
 color: #828282;
 font-size: 1.3rem;
}

.anteced__detail-title {
 font-weight: 600;
 font-size: 2rem;
}

.anteced__detail-section {
 margin-bottom: 4rem;
}
.anteced__detail-section--icon {
 margin-top: 0.45rem;
 color: #5b63f6;
}
.anteced__detail-section-title {
 font-size: 1.7rem;
 font-weight: 600;
 margin-bottom: 1rem;
}
.anteced__detail-section-content {
 color: #828282;
}

.anteced__detail-footer {
 text-align: end;
}
.anteced__detail-footer-icon {
 color: #5b63f6;
 text-decoration: underline;
 font-style: italic;
 cursor: pointer;
}

.anteced__add-input--title {
 padding: 0.5rem 1em;
}
.anteced__add-input--title label {
 margin-bottom: 0.2rem;
}

.anteced__add-input--date {
 padding: 1rem 2rem !important;
}

.anteced__add-input--details {
 padding: 1rem;
}
.createExamination {
  text-align: right;
  margin-bottom: 2rem; }
  .createExamination__PatInterro-card:defined {
    border: none;
    border-radius: 0.68rem;
    margin-bottom: 2rem;
    padding: 2rem 3rem; }
  .createExamination__PatInterro-card h1 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .createExamination__PatInterro-card--description {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 2.5rem; }
  .createExamination__PatInterro-card--col {
    text-align: right; }
  .createExamination__PatInterro-card--row {
    margin-bottom: 1rem; }
  .createExamination__PatInterro-card--addbutton {
    text-align: right !important;
    padding-bottom: 2rem; }
  .createExamination__PatInterro-card--textarea {
    font-family: inherit;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: inherit;
    padding: 0.7rem 2rem !important;
    border-radius: 0.5rem !important;
    width: 100% !important;
    height: 22rem;
    margin-bottom: 2rem; }
    .createExamination__PatInterro-card--textarea--select {
      font-family: inherit;
      font-size: 1.5rem !important;
      font-weight: 500 !important;
      color: inherit;
      padding: 0 !important;
      border-radius: 0.5rem !important;
      width: 100%; }
  .createExamination__PatInterro-file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(91, 99, 246, 0.1);
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.5rem; }
    .createExamination__PatInterro-file--icon {
      font-size: 3rem;
      color: #5b63f6; }
    .createExamination__PatInterro-file--content {
      flex: 0.9;
      display: flex;
      flex-direction: column;
      text-align: left; }
    .createExamination__PatInterro-file--title {
      font-size: 1.5rem;
      font-weight: 500; }
    .createExamination__PatInterro-file--size {
      font-size: 1.3rem;
      color: #828282;
      font-weight: 500; }
    .createExamination__PatInterro-file--check {
      font-size: 1.5rem;
      cursor: pointer; }
  .createExamination__IllnessDiagno-Interrogatory--box {
    font-size: 1.438rem !important;
    width: fit-content !important;
    padding: 1rem !important;
    margin-right: 4rem;
    background-color: #bdbdbd !important;
    border-color: #bdbdbd !important; }
    .createExamination__IllnessDiagno-Interrogatory--box-active, .createExamination__IllnessDiagno-Interrogatory--box:active {
      background-color: #0d6efd !important;
      border-color: #0d6efd !important; }
  .createExamination__IllnessDiagno-Illnesses--col {
    padding: 2rem !important;
    text-align: left; }
  .createExamination__IllnessDiagno-Illnesses--col p {
    font-size: 1.31rem;
    font-weight: 500;
    margin-bottom: 1.188rem; }
  .createExamination__IllnessDiagno-Illnesses--box {
    width: fit-content !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    border-radius: 5.62rem !important;
    padding: 0.813rem 2.5rem 0.813rem 2.5rem !important;
    margin-right: 1.4rem;
    margin-bottom: 1.4rem; }
    .createExamination__IllnessDiagno-Illnesses--box-active, .createExamination__IllnessDiagno-Illnesses--box:active {
      background-color: #dd4b39 !important;
      border-color: #dd4b39 !important; }
    .createExamination__IllnessDiagno-Illnesses--box:visited {
      background-color: #0d6efd !important; }
    .createExamination__IllnessDiagno-Illnesses--box--close {
      visibility: hidden;
      transition: all 0.2s ease-in-out; }
      .editfolder__medicalsection-box:hover .createExamination__IllnessDiagno-Illnesses--box--close {
        visibility: visible;
        margin-left: 2rem; }
  .createExamination__IllnessDiagno-Illnesses--button {
    width: fit-content !important;
    font-size: 1.5rem;
    font-weight: 500;
    border-color: black;
    background-color: white;
    border-radius: 5.62rem;
    padding: 0.813rem 2.5rem 0.813rem 2.5rem !important;
    margin-bottom: 1.4rem; }

.exambar .main-header {
  margin-top: 10rem;
  font-weight: 500;
  color: #5b63f6; }

.exam-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  padding: 0;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .exam-nav {
      display: flex;
      margin: 0; } }
  .exam-nav__item {
    position: relative; }
    .exam-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .exam-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .exam-nav__item {
        flex: 1; } }
    .exam-nav__item span {
      color: black;
      transition: color 0.2s;
      transition-delay: 0.3s; }
    .exam-nav__item--active span,
    .exam-nav__item:hover span,
    .exam-nav__item:active span {
      color: #f7f7fe; }
  .exam-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #5b63f6;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .exam-nav__item:hover::before, .exam-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .exam-nav__item:active::before {
    background-color: #424ef5; }
  .exam-nav__link:link, .exam-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 2rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .exam-nav__link:link, .exam-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .exam-nav__link:link, .exam-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem 0.5rem; } }
  .exam-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .exam-nav__icon {
        margin-right: 0;
        margin-bottom: 0.7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.pagination {
  font-size: 1.5rem; }
  .pagination li {
    margin-left: 1.8rem; }
  .pagination__active {
    background-color: aqua !important; }

.prescription__container {
  display: flex;
  gap: 3rem;
  flex-direction: row;
  justify-content: space-between; }

.prescription__medications {
  flex-grow: 20; }
  .prescription__medications-container {
    background-color: white;
    border-radius: 0.7rem;
    padding: 2rem;
    margin-bottom: 2rem; }
  .prescription__medications-list {
    padding: 0;
    list-style: none;
    margin-bottom: 2rem; }
    .prescription__medications-list--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0rem;
      border-bottom: 1px solid #e0e0e0; }
      .prescription__medications-list--item:first-child {
        padding: 0rem 0rem 1.5rem 0rem !important; }
  .prescription__medications-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; }
    .prescription__medications-content--container {
      display: flex;
      flex-direction: column; }
    .prescription__medications-content--title {
      font-size: 1.5rem;
      font-weight: 500; }
    .prescription__medications-content--dosage {
      font-size: 1.3rem;
      color: #828282; }
    .prescription__medications-content--date {
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 500;
      color: #828282; }
    .prescription__medications-content--qsp {
      font-size: 1rem;
      font-weight: 500;
      color: #828282; }
  .prescription__medications-icon {
    font-size: 2rem;
    color: white; }
    .prescription__medications-icon--container {
      height: 4rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem; }
      .prescription__medications-icon--container--pills {
        background-color: #f1923e; }
      .prescription__medications-icon--container--serop {
        background-color: #5b63f6; }
  .prescription__medications-qsp {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .prescription__medications-action {
    text-align: right; }
    .prescription__medications-action > button:first-child {
      background-color: #f1923e; }
      .prescription__medications-action > button:first-child:hover, .prescription__medications-action > button:first-child:active {
        background-color: #d27f1e; }

.prescription__patientInfo {
  flex-grow: 1; }
  .prescription__patientInfo-container > .folder__item {
    margin-bottom: 2rem; }
  .prescription__patientInfo-container .folder__item:nth-child(2) {
    display: flex !important; }

.prescription__actions {
  text-align: right; }
