// Sing up
.auth__side_1 {
 padding: 3rem 5rem 5rem !important;
 height: 100vh;
 text-align: left;
}

.auth__side_2 {
 padding: 5rem !important;
 background-color: $color-grey-light-3;
 display: flex;
 justify-content: center;
 align-items: center;
}
