// Sing up
.auth__side_1 {
 padding: 3rem 5rem !important;
 height: 100vh;
 text-align: left;
 @media only screen and (max-width: $bp-largest) {
    padding: 2rem 4rem !important;
   }
}

.auth__side_2 {
 padding: 5rem !important;
 background-color: $color-grey-light-3;
 display: flex;
 justify-content: center;
 align-items: center;

 @media only screen and (max-width: $bp-largest) {
    padding: 3rem !important;
   }
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
