.ovrrow{
margin-top: 7%  !important;

}
.ovrcol 
{
   text-align: center !important; 
}

.ovrbx {
 border-radius: 10px;
 width: 230px;
 position: relative;
 background-color: white;
 text-align: center !important;
 height: 100px;
 display: block;
}

.ovrtitle {
 position: absolute;
 left: 3%;
 top: 10.34%;
 bottom: 63.79%;

 font-family: Montserrat;
 font-style: normal;
 font-size: 18px;
 /* or 30px */

 color: #000000;
}

.ovrnmb {
 position: relative;
 left: -25%;
 bottom: -40%;

 font-family: Montserrat;
 font-style: normal;
 font-size: 32px;
 line-height: 177.5%;
 /* or 57px */

 letter-spacing: 0.02em;

 color: #000000;
}

.users-icon {
 position: absolute;

 right: 8%;
 bottom: 8%;
 font-size: 30px;
 color: #2a2f64;
}
