

.searchbar {
 height: 38px !important;
 font-size: medium !important;
 border-radius: 12px !important;
 width: 80% !important;
 background-color: #f7f7fe !important;
 
}

.searchbar::placeholder {
 font-size: medium;
}

.search-icon {
 font-size: large;
 position: relative;
 float: right;
 margin-right: 22%;
 bottom: -27px;
 color: #5b63f6;
}
