* {
 margin: 0%;
}



.searchbar {
 height: 45px !important;
 font-size: medium !important;
 border-radius: 12px !important;
 
 background-color: #f7f7fe !important;
 
}

.searchbar::placeholder {
 font-size: medium;
}

.search-icon {
 font-size: large;
 position: relative;
 float: right;
 margin-right: 1%;
 bottom: -34px;
 color: #5b63f6;
}
