.OtherFilesBox {
 &__card {
  &:defined {
   background-color: #f1eeee;
   border: none;
   border-radius: 0.5rem;
   padding: 3rem;
   margin-bottom: 2rem;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  }

  &-body {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   align-items: center;
  }

  &-icon {
   & img {
    font-size: 2rem;
    color: white !important;
   }
  }

  &-title {
   margin-left: 1rem;
   text-align: left;
  }

  & p {
   font-size: 1.5rem;
   font-weight: 600;
   color: #999999;
  }

  & span {
   font-size: 1.2rem;
   font-weight: 500;
   color: #c5c5c5;
  }

  &-action {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex: .6;
  }

  &-button {
   background-color: #f1eeee !important;
   border: none !important;
   color: #999999 !important;
   font-weight: 700 !important;
   font-size: 1.8rem !important;
   text-transform: uppercase;
  }
 }
}
