.PatStateBox {
 &__card {
  &:defined {
   background-color: #f1eeee;
   padding: 2rem 3rem;
   border: none !important;
   border-radius: 0.8rem !important;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  }

  &-circle {
   border-width: 0.25rem !important;
   border-color: #5b63f6 !important;
   border-radius: 50% !important;

   width: 3.5rem !important;
   height: 3.5rem !important;
  }

  &-content {
   text-align: left !important;
   margin-left: 2rem !important;
   flex: 1;

   & p {
    width: fit-content;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
   }

   & span {
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 500;
   }
  }
 }
}
