.PatStateBox {
 &__card {
  &:defined {
   background-color: #f1eeee;
   padding: 4rem;
   width: 48%;
   margin-right: 2.4rem;
   margin-bottom: 2.4rem;
   border: none !important;
   border-radius: 0.8rem !important;
  }

  &-circle {
   width: 4rem !important;
   height: 4rem !important;
   border-width: 0.25rem !important;
   border-color: #5b63f6 !important;
   border-radius: 50% !important;
   margin-top: 1rem !important;
  }

  &-content {
   text-align: left !important;
   width: 42rem !important;
   margin-left: 2rem !important;

   & p {
    width: fit-content;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
   }

   & span {
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 500;
   }
  }
 }
}
