.editfolder {
    &__collapse {
     text-align: right;
     background: transparent;
     border: none;
     border-radius: 0.68rem;
     position: relative;
     width: fixed;
     cursor: pointer;
     margin-bottom: 2rem;
   
     &-card {
      border-radius: 0.5rem;
      border: none;
   
      &--content {
       background: transparent;
      }
   
      &--contentheader {
       padding: 2rem 0rem 0rem 2.35rem;
       font-size: 2.5rem;
       font-weight: 600;
       text-align: left;
      }
   
      &--content:defined {
       border-radius: 0.5rem;
       border: none;
       margin-top: 1rem;
      }
     }
   
     &-card p {
      padding-top: 0.625rem;
      font-size: 1.56rem;
      font-weight: 600;
      text-align: left;
      margin-left: 2rem;
     }
   
     &-card:defined {
      border-radius: 0.5rem;
      border: none;
      padding: 0.7rem;
     }
    }
   }
   